<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   <link rel="stylesheet" href="css/healthcare.css">
   <script src="https://kit.fontawesome.com/72d8d9006d.js" crossorigin="anonymous"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
  </head>
  <body>

   <section id="services" class="services mt-5 mb-3 py-3">
    <div class="container">
      <div class="section-title">
        <h2 class="text-center">HealthTips</h2>
        
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
          <div class="service shadow">
            <div class="icon">
                <i class="fas fa-tooth"></i>
            </div>
            <h4><a href="">Teeths</a></h4>
            <p>Brush at least twice a day. The best time to brush teeth is after meals. Choose a toothbrush with a small
               head for better access to back teeth.Use fluoridated toothpaste as it helps to harden tooth enamel and reduces 
               your risk of decay.Floss your teeth daily.Limit acidic drinks like soft drinks, cordials and fruit juices. 
               Food acids soften tooth material and dissolve the minerals in tooth enamel, causing holes (cavities).</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
          <div class="service c shadow">
            <div class="icon">
                <i class="fas fa-lungs"></i>
            </div>
            <h4><a href="">Lungs</a></h4>
            <p>Stop smoking, and avoid secondhand smoke or environmental irritants.
              Eat foods rich in antioxidants.
              Get vaccinations like the flu vaccine and the pneumonia vaccine. ...
              Exercise more frequently, which can help your lungs function properly.
              Improve indoor air quality.The air quality outside can vary from day to day and sometimes is unhealthy to breathe.</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
          <div class="service shadow">
            <div class="icon">
                <i class="fas fa-heart"></i>
            </div>
            <h4><a href="">Heart</a></h4>
            <p>
              Eating fresh produce and eliminating processed foods from your diet will reduce trans- fats, the number one cause of 
              heart disease in men and women.By increasing your intake of antioxidants found in nuts, leafy 
              greens, and citrus fruits you can ensure good heart health.Smoking causes the blood vessels going to and fro from 
              the heart to constrict, increasing the odds of getting a heart attack.
              Aerobics, Zumba, yoga, swimming, brisk walking, jogging, and taekwondo will increase heart rate which keeps the 
              system functioning well.</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
          <div class="service c shadow">
            <div class="icon">
              <i class="fas fa-lungs"></i>
            </div>
            <h4><a href="">Kidney</a></h4>
            <p>Regular exercise is good for more than just your waistline. It can lower the risk of chronic kidney disease.
              A healthy diet that’s low in sodium, processed meats, and other kidney-damaging foods may help reduce the risk 
              of kidney damage.Water helps clear sodium and toxins from your kidneys. It also lowers your risk of chronic kidney disease.
              Smoking damages your body’s blood vessels. This leads to slower blood flow throughout your body and to your kidneys.</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
          <div class="service shadow">
            <div class="icon">            
          <i class="fas fa-syringe"></i>
            </div>
            <h4><a href="">Diabetes</a></h4>
            <p>Three meals and three snacks per day.
              Consume more of complex carbohydrates.
              Reduce added sugar.
              Eat good quality and quantity of protein.
              Healthier fat eases your blood flow.
              Fulfill your daily dairy consumption.
              Fiber creates magic with your blood sugar.
              Light and tasty snacks are a smart choice.
              The body is water, so keep yourself hydrated.
            </p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
          <div class="service shadow">
            <div class="icon">
            <i class="fas fa-smoking"></i>
            </div>
            <h4><a href="">Cancer</a></h4>
            <p>
              Eat a healthy diet, with an emphasis on fruits, vegetables, and whole grains.
              Get recommended cancer screenings.
              Take care of your emotional health.
              Get enough sleep.
              Avoid environmental toxins.
              Don't use tobacco.
              Stop smoking.
              Food safety during cancer treatment.
              High protein foods.
              High calorie snacks.
              Clear liquids and full liquids.
              Enteral and parenteral nutrition for adults.
              Exercise for appetite and digestion.
              Lactose intolerance.
              Increasing calories and protein (low to no lactose).
            </p>
          </div>
        </div>

      </div>

    </div>
  </section>

  </body>
</html>