<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/team.css">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500;900&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/72d8d9006d.js" crossorigin="anonymous"></script>
    <title>Our team</title>
  </head>
  <body>
    <section id="team" class="team mt-5">
      <div class="container">
        <div class="row">
          <div class="col-lg-4">
            <div class="section-title">
              <h2>Our Team</h2>
              <p>Our Amazing hardworking and enthusiastic team
              </p>
            </div>
          </div>
          <div class="col-lg-8">
            <div class="row">
              <div class="col-lg-6">
                <div class="member">
                  <div class="image"><img src="img/yash.jpg" 
                    class="img-fluid" alt=""></div>
                  <div class="member-info">
                    <h4>Yash Gupta</h4>
                    <span>Co-founder</span>
                    <div class="social">
                      <a href=""><i class="fab fa-twitter"></i></a>
                      <a href=""><i class="fab fa-facebook"></i></a>
                      <a href=""><i class="fab fa-instagram"></i></a>
                      <a href="https://www.linkedin.com/in/yashgupta299?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base%3Be8%2B07MAkRtChdbliqs8upg%3D%3D"> <i class="fab fa-linkedin"></i> </a>
                    </div>
                  </div>
                </div>
              </div>
  
              <div class="col-lg-6 mt-4 mt-lg-0">
                <div class="member">
                  <div class="image"><img src="img/anushka.jpg" 
                    class="img-fluid" alt=""></div>
                  <div class="member-info">
                    <h4>Anushka Jain</h4>
                    <span>Team Lead</span>
                    <div class="social">
                      <a href=""><i class="fab fa-twitter"></i></a>
                      <a href=""><i class="fab fa-facebook"></i></a>
                      <a href=""><i class="fab fa-instagram"></i></a>
                      <a href="https://www.linkedin.com/in/anushka-jain-9508a91a1"> <i class="fab fa-linkedin"></i> </a>
                    </div>
                  </div>
                </div>
              </div>
  
              <div class="col-lg-6 mt-4">
                <div class="member">
                  <div class="image"><img src="img/ishika.jpg" 
                    class="img-fluid" alt=""></div>
                  <div class="member-info">
                    <h4>Ishika Garg</h4>
                    <span>Core Developer</span>
                    <div class="social">
                      <a href=""><i class="fab fa-twitter"></i></a>
                      <a href=""><i class="fab fa-facebook"></i></a>
                      <a href=""><i class="fab fa-instagram"></i></a>
                      <a href="https://www.linkedin.com/in/ishika-garg-06ab97204"> <i class="fab fa-linkedin"></i> </a>
                    </div>
                  </div>
                </div>
              </div>
  
              <div class="col-lg-6 mt-4">
                <div class="member">
                  <div class="image">
                    <img src="img/ravi.jpg" 
                    class="img-fluid" alt=""></div>
                  <div class="member-info">
                    <h4>Ravi Sharma</h4>
                    <span>Core Developer</span>
                    <div class="social">
                      <a href=""><i class="fab fa-twitter"></i></a>
                      <a href=""><i class="fab fa-facebook"></i></a>
                      <a href=""><i class="fab fa-instagram"></i></a>
                      <a href="
                      https://www.linkedin.com/in/ravi-sharma-036b46177"> <i class="fab fa-linkedin"></i> </a>
                    </div>
                  </div>
                </div>
              </div>
              
              <div class="col-lg-6 mt-4">
                <div class="member">
                  <div class="image">
                    <img src="img/devesh.png" 
                    class="img-fluid" alt=""></div>
                  <div class="member-info">
                    <h4>Devesh Jain</h4>
                    <span>Core Developer</span>
                    <div class="social">
                      <a href=""><i class="fab fa-twitter"></i></a>
                      <a href=""><i class="fab fa-facebook"></i></a>
                      <a href=""><i class="fab fa-instagram"></i></a>
                      <a href="
                      https://www.linkedin.com/in/devesh-jain-b68b3119a"> <i class="fab fa-linkedin"></i> </a>
                    </div>
                  </div>
                </div>
              </div>
  
            </div>
  
          </div>
        </div>
  
      </div>
    </section> 
  </body>
</html>