<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <!--===============================================================================================-->
    <link
      rel="icon"
      type="image/png"
      href="LoginSignUp/images/icons/favicon.ico"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="LoginSignUp/vendor/bootstrap/css/bootstrap.min.css"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="LoginSignUp/fonts/font-awesome-4.7.0/css/font-awesome.min.css"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="LoginSignUp/fonts/Linearicons-Free-v1.0.0/icon-font.min.css"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="LoginSignUp/fonts/iconic/css/material-design-iconic-font.min.css"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="LoginSignUp/vendor/animate/animate.css"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="LoginSignUp/vendor/css-hamburgers/hamburgers.min.css"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="LoginSignUp/vendor/animsition/css/animsition.min.css"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="LoginSignUp/vendor/select2/select2.min.css"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="LoginSignUp/vendor/daterangepicker/daterangepicker.css"
    />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="LoginSignUp/css/util.css" />
    <link rel="stylesheet" type="text/css" href="LoginSignUp/css/main.css" />
    <!--===============================================================================================-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="Contact/images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="Contact/vendor/bootstrap/css/bootstrap.min.css"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="Contact/fonts/font-awesome-4.7.0/css/font-awesome.min.css"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="Contact/vendor/animate/animate.css"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="Contact/vendor/css-hamburgers/hamburgers.min.css"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="Contact/vendor/select2/select2.min.css"
    />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="Contact/css/util.css" />
    <link rel="stylesheet" type="text/css" href="Contact/css/main.css" />
    <!--===============================================================================================-->
    <link rel="stylesheet" href="CareForYou/css/style.css" />
    <link rel="stylesheet" href="CareForYou/css/button.css" />
    <link rel="stylesheet" href="CareForYou/css/team.css" />

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@500;900&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/72d8d9006d.js"
      crossorigin="anonymous"
    ></script>

    <title>My Website</title>
  </head>
  <!-- Start of Async Drift Code -->
  <script>
    "use strict";

    !(function () {
      var t = (window.driftt = window.drift = window.driftt || []);
      if (!t.init) {
        if (t.invoked)
          return void (
            window.console &&
            console.error &&
            console.error("Drift snippet included twice.")
          );
        (t.invoked = !0),
          (t.methods = [
            "identify",
            "config",
            "track",
            "reset",
            "debug",
            "show",
            "ping",
            "page",
            "hide",
            "off",
            "on",
          ]),
          (t.factory = function (e) {
            return function () {
              var n = Array.prototype.slice.call(arguments);
              return n.unshift(e), t.push(n), t;
            };
          }),
          t.methods.forEach(function (e) {
            t[e] = t.factory(e);
          }),
          (t.load = function (t) {
            var e = 3e5,
              n = Math.ceil(new Date() / e) * e,
              o = document.createElement("script");
            (o.type = "text/javascript"),
              (o.async = !0),
              (o.crossorigin = "anonymous"),
              (o.src = "https://js.driftt.com/include/" + n + "/" + t + ".js");
            var i = document.getElementsByTagName("script")[0];
            i.parentNode.insertBefore(o, i);
          });
      }
    })();
    drift.SNIPPET_VERSION = "0.3.1";
    drift.load("k44tmyexwdax");
  </script>
  <!-- End of Async Drift Code -->
  <body>
    <!-- Header -->
    <section id="header">
      <div class="header container">
        <div class="nav-bar">
          <div class="brand">
            <h1>
              <a href="#hero"
                ><span>C</span>are <span>F</span>or <span>Y</span>ou</a
              >
            </h1>
          </div>
          <div class="nav-list">
            <div class="hamburger"><div class="bar"></div></div>
            <ul>
              <li><a href="#hero" data-after="Home">Home</a></li>
              <li><a href="#services" data-after="Service">Services</a></li>
              <li><a href="#projects" data-after="Team">Our Team</a></li>
              <li><a href="#contact" data-after="Contact">Contact Us</a></li>
              <li><a href="/dashboard" data-after="Dashboard">Dashboard</a></li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <!-- End Header -->

    <!-- Hero Section  -->
    <section id="hero">
      <div class="hero container">
        <div>
          <h1>Hello, <span></span></h1>
          <h1>welcome to our <span></span></h1>
          <h1>Virtual Clinic <span></span></h1>
          <a href="booking/book.html" type="button" class="cta">Book an appointment</a>
        </div>
      </div>
    </section>
    <!-- End Hero Section  -->

    <!-- Service Section -->
    <section id="services">
      <div class="services container">
        <div class="service-top">
          <h1 class="section-title">Serv<span>i</span>ces</h1>
          <p>
            We offer you the most up-to-date details on vaccination, healthcare,
            and the availability of beds in nearby hospitals as well as a
            chatbot to answer your questions. We also offer you the option of
            scheduling appointments at any hospital of your choice. We provide
            you with directions to that hospital as well as its phone number.
          </p>
        </div>

        <div class="service-bottom">
          <div class="service-item">
            <div class="icon">
              <img
                src="https://img.icons8.com/officel/80/000000/worldwide-location--v1.png"
              />
            </div>
            <h2>
              <a href="CareForYou/map.html" target="_blank"
                ><button class="button">
                  <span class="none">Nearest Hospitals</span>
                </button></a
              >
            </h2>
            <p>
              We have a feature that shows you the closest hospitals in your
              region as well as the number of beds they have available.
            </p>
          </div>
          <div class="service-item">
            <div class="icon">
              <img
                src="https://img.icons8.com/fluent/96/000000/download-pie-chart-report.png"
              />
            </div>
            <h2>
              <a href="CareForYou/virus.html" target="_blank">
                <button class="button">
                  <span class="none">Live Statistics </span>
                </button></a
              >
            </h2>

            <p>
              We include real-time statistics on diseases around the world,
              inform you about them, and advise you about how to avoid them.
            </p>
          </div>

          <div class="service-item">
            <div class="icon">
              <img
                src="https://img.icons8.com/color/96/000000/health-book.png"
              />
            </div>
            <h2>
              <a href="CareForYou/map.html" target="_blank"
                ><button class="button">
                  <span class="none">Health Tips</span>
                </button></a
              >
            </h2>
            <p>
              We include real-time statistics on diseases around the world,
              inform you about them, and advise you about how to avoid them.
            </p>
          </div>
          <div class="service-item">
            <div class="icon">
              <img
                src="https://img.icons8.com/cute-clipart/64/000000/faq.png"
              />
            </div>
            <h2>
              <a href="CareForYou/faq.html" target="_blank"
                ><button class="button">
                  <span class="none">FAQs</span>
                </button></a
              >
            </h2>
            <p>
              In this segment, we addressed all of your concerns, and if you
              still have questions, you can ask the chatbot or can email us.
            </p>
          </div>
        </div>
      </div>
    </section>
    <!-- End Service Section -->

    <!-- Projects Section -->
    <section id="projects">
      <div class="projects container">
        <div class="projects-header">
          <h1 class="section-title">Our <span>Team</span></h1>
        </div>
        <div class="all-projects">
          <div class="project-item">
            <div class="project-info">
              <h1>Anushka Jain</h1>
              <h2>Web Developer | Java Enthusiast</h2>
              <p>
                I am a sophomore at Indira Gandhi Delhi Technical University for
                Women. I've always enjoyed exploring different skills and
                technologies, I've been working on web development and made some
                projects using the same. I am at an intermediate level in coding
                and I code in C++ and Java.
              </p>
              <div class="social">
                <a href=""><i class="fab fa-twitter"></i></a>
                <a href=""><i class="fab fa-facebook"></i></a>
                <a href=""><i class="fab fa-instagram"></i></a>
                <a
                  href="https://www.linkedin.com/in/anushka-jain-9508a91a1"
                  target="_blank"
                >
                  <i class="fab fa-linkedin"></i>
                </a>
              </div>
            </div>
            <div class="project-img">
              <img class="size" src="CareForYou/img/anushka1.jpg" alt="img" />
            </div>
          </div>

          <div class="project-item">
            <div class="project-info">
              <h1>Yash Gupta</h1>
              <h2>Web Developer</h2>

              <p>
                I am a 2nd year student from Dr. Akhilesh Das Gupta Institute of
                Technology and Management pursuing an undergraduate degree in
                INFORMATION TECHNOLOGY. I am good in frontend development and
                have some basic skills of backend development.
              </p>
              <div class="social">
                <a href=""><i class="fab fa-twitter"></i></a>
                <a href=""><i class="fab fa-facebook"></i></a>
                <a href=""><i class="fab fa-instagram"></i></a>
                <a
                  href="https://www.linkedin.com/in/yashgupta299?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base%3Be8%2B07MAkRtChdbliqs8upg%3D%3D"
                  target="_blank"
                >
                  <i class="fab fa-linkedin"></i>
                </a>
              </div>
            </div>
            <div class="project-img">
              <img src="CareForYou/img/yash.jpg" alt="img" />
            </div>
          </div>
          <div class="project-item">
            <div class="project-info">
              <h1>Ishika Garg</h1>
              <h2>Web Developer</h2>
              <p>
                I am enrolled as a 2nd year student in the college of Dr.
                Akhilesh Das Gupta Institute of Technology and Management
                pursuing my bachelors in Information &Technology. I am
                interested in the Web Development field and coding roles and am
                seeking exciting opportunities related to the same.
              </p>
              <div class="social">
                <a href=""><i class="fab fa-twitter"></i></a>
                <a href=""><i class="fab fa-facebook"></i></a>
                <a href=""><i class="fab fa-instagram"></i></a>
                <a
                  href="https://www.linkedin.com/in/ishika-garg-06ab97204"
                  target="_blank"
                >
                  <i class="fab fa-linkedin"></i>
                </a>
              </div>
            </div>
            <div class="project-img">
              <img src="CareForYou/img/ishika.jpg" alt="img" />
            </div>
          </div>
          <div class="project-item">
            <div class="project-info">
              <h1>Devesh Jain</h1>
              <h2>Web Developer | Game Designer</h2>
              <p>
                I'm a sophomore at Dr. Akhilesh Das Gupta Institute of
                Technology and Management, pursuing B-Tech in Information and
                Technology. My interest is inclined towards Game Designing and I
                am looking forward to pursue my career in this field. I'm a keen
                learner and I like to explore new technologies.
              </p>
              <div class="social">
                <a href=""><i class="fab fa-twitter"></i></a>
                <a href=""><i class="fab fa-facebook"></i></a>
                <a href=""><i class="fab fa-instagram"></i></a>
                <a
                  href="
                      https://www.linkedin.com/in/devesh-jain-b68b3119a"
                  target="_blank"
                >
                  <i class="fab fa-linkedin"></i>
                </a>
              </div>
            </div>
            <div class="project-img">
              <img src="CareForYou/img/devesh.png" alt="img" />
            </div>
          </div>

          <div class="project-item">
            <div class="project-info">
              <h1>Ravi Sharma</h1>
              <h2>Web Developer</h2>
              <p>
                B.Tech IT Sophomore at ADGITM, Have a keen knowledge of Data
                structure and algorithms in C++ with great problem-solving
                skills. I am also a Flutter developer, worked on some
                cross-platform native apps. I have mastered Photoshop, XD,
                Illustrator. I continue to build skills in UI/UX.
              </p>
              <div class="social">
                <a href=""><i class="fab fa-twitter"></i></a>
                <a href=""><i class="fab fa-facebook"></i></a>
                <a href=""><i class="fab fa-instagram"></i></a>
                <a
                  href="
                      https://www.linkedin.com/in/ravi-sharma-036b46177"
                  target="_blank"
                >
                  <i class="fab fa-linkedin"></i>
                </a>
              </div>
            </div>
            <div class="project-img">
              <img src="CareForYou/img/ravi.jpg" alt="img" />
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End Projects Section -->

    <!-- About Section -->
    <!-- <section id="about">
    <div class="about container">
      <div class="col-left">
        <div class="about-img">
          <img src="CareForYou/img/img-2.png" alt="img">
        </div>
      </div>
      <div class="col-right">
        <h1 class="section-title">About <span>me</span></h1>
        <h2>Front End Developer</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Asperiores, velit alias eius non illum beatae atque repellat ratione qui veritatis repudiandae adipisci maiores. At inventore necessitatibus deserunt exercitationem cumque earum omnis ipsum rem accusantium quis, quas quia, accusamus provident suscipit magni! Expedita sint ad dolore, commodi labore nihil velit earum ducimus nulla quae nostrum fugit aut, deserunt reprehenderit libero enim!</p>
        <a href="#" class="cta">Download Resume</a>
      </div>
    </div>
  </section> -->
    <!-- End About Section -->

    <!-- Contact Section -->
    <section id="contact">
      <div class="contact1">
        <div class="projects-header">
          <h1 class="section-title">Contact <span>Us</span></h1>
        </div>
        <div class="container-contact1">
          <div class="contact1-pic js-tilt" data-tilt>
            <img src="Contact/images/img-01.png" alt="IMG" />
          </div>

          <form
            action="/contact2"
            method="POST"
            class="contact1-form validate-form"
          >
            <span class="contact1-form-title" style="color: white">
              GET IN TOUCH
            </span>

            <div
              class="wrap-input1 validate-input"
              data-validate="Name is required"
            >
              <input
                class="input1"
                type="text"
                name="name"
                placeholder="Name"
              />
              <span class="shadow-input1"></span>
            </div>

            <div
              class="wrap-input1 validate-input"
              data-validate="Valid email is required: ex@abc.xyz"
            >
              <input
                class="input1"
                type="text"
                name="email"
                placeholder="Email"
              />
              <span class="shadow-input1"></span>
            </div>

            <div
              class="wrap-input1 validate-input"
              data-validate="Subject is required"
            >
              <input
                class="input1"
                type="text"
                name="subject"
                placeholder="Subject"
              />
              <span class="shadow-input1"></span>
            </div>

            <div
              class="wrap-input1 validate-input"
              data-validate="Message is required"
            >
              <textarea
                class="input1"
                name="message"
                placeholder="Message"
              ></textarea>
              <span class="shadow-input1"></span>
            </div>

            <div class="container-contact1-form-btn">
              <button class="contact1-form-btn">
                <span>
                  Send Email
                  <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                </span>
              </button>
            </div>
          </form>
        </div>
      </div>

      <!-- <div class="contact container">
      <div><h1 class="section-title">Contact <span>info</span></h1></div>
      <div class="contact-items">
        <div class="contact-item">
          <div class="icon"><img src="https://img.icons8.com/bubbles/100/000000/phone.png"/></div>
          <div class="contact-info">
            <h1>Phone</h1>
            <h2>+1 234 123 1234</h2>
            <h2>+1 234 123 1234</h2>
          </div>
        </div>
        <div class="contact-item">
          <div class="icon"><img src="https://img.icons8.com/bubbles/100/000000/new-post.png"/></div>
          <div class="contact-info">
            <h1>Email</h1>
            <h2>info@gmail.com</h2>
            <h2>abcd@gmail.com</h2>
          </div>
        </div>
        <div class="contact-item">
          <div class="icon"><img src="https://img.icons8.com/bubbles/100/000000/map-marker.png"/></div>
          <div class="contact-info">
            <h1>Address</h1>
            <h2>Fatikchhari, Chittagong, Bangladesh</h2>
          </div>
        </div>
      </div>
    </div> -->
    </section>
    <!-- End Contact Section -->

    <!-- Login -->
    <!-- <section id="signin">
    <div class="limiter">
      <div class="container-login100">
        <div class="login100-more" style="background-image: url('LoginSignUp/images/bg-01.jpg');"></div>
  
        <div class="wrap-login100 p-l-50 p-r-50 p-t-72 p-b-50">
          <form action="/signin" method="POST"  class="login100-form validate-form">
            <span class="login100-form-title p-b-59">
              Sign In
            </span>
  
            <div class="wrap-input100 validate-input" data-validate="Name is required">
              <span class="label-input100">Full Name</span>
              <input class="input100" type="text" name="name" placeholder="Name...">
              <span class="focus-input100"></span>
            </div> -->

    <!-- <div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
              <span class="label-input100">Email</span>
              <input class="input100" type="text" name="email" placeholder="Email addess...">
              <span class="focus-input100"></span>
            </div> -->

    <!-- <div class="wrap-input100 validate-input" data-validate = "Valid Phone Number is required">
              <span class="label-input100">Phone Number</span>
              <input maxlength="10" minlength="10" class="input100" type="number" name="number" placeholder="Phone Number...">
              <span class="focus-input100"></span>
            </div>
  
            <div class="wrap-input100 validate-input" data-validate="Username is required">
              <span class="label-input100">Username</span>
              <input class="input100" type="text" name="username" placeholder="Username...">
              <span class="focus-input100"></span>
            </div>
  
            <div class="wrap-input100 validate-input" data-validate = "Password is required">
              <span class="label-input100">Password</span>
              <input class="input100 pass" minlength="8" type="password" name="pass" placeholder="Password...">
              <span class="focus-input100"></span>
            </div>
  
           <div class="wrap-input100 validate-input" data-validate = "Confirm Password is required">
              <span class="label-input100">Repeat Password</span>
              <input class="input100 cpass" type="password" name="cpass" placeholder="Confirm Password...">
              <span class="focus-input100"></span>
            </div>
  
            <div class="flex-m w-full p-b-33">
              <div class="contact100-form-checkbox">
                <input class="input-checkbox100" id="ckb1" type="checkbox" required name="remember-me">
                <label class="label-checkbox100" for="ckb1">
                  <span class="txt1">
                    I agree to the
                    <a href="#" class="txt2 hov1">
                      Terms of User
                    </a>
                  </span>
                </label>
              </div>
  
              
            </div>
  
            <div class="container-login100-form-btn">
              <div class="wrap-login100-form-btn">
                <div class="login100-form-bgbtn"></div>
                <button class="login100-form-btn">
                  Sign In
                </button>
              </div>
  
              <a href="/signup" class="dis-block txt3 hov1 p-r-30 p-t-10 p-b-10 p-l-30">
                Sign Up
                <i class="fa fa-long-arrow-right m-l-5"></i>
              </a>
            </div>
          </form>
        </div>
      </div>
    </div>

  </section> -->

    <!-- End Login Section -->

    <!-- Footer -->
    <section id="footer">
      <div class="footer container">
        <div class="brand">
          <h1>
            <a href="#hero"
              ><span>C</span>are <span>F</span>or <span>Y</span>ou</a
            >
          </h1>
        </div>
        <h2>Do your part by staying apart</h2>
        <div class="social-icon">
          <div class="social-item">
            <a href="#"
              ><img
                src="https://img.icons8.com/bubbles/100/000000/facebook-new.png"
            /></a>
          </div>
          <div class="social-item">
            <a href="#"
              ><img
                src="https://img.icons8.com/bubbles/100/000000/instagram-new.png"
            /></a>
          </div>
          <div class="social-item">
            <a href="#"
              ><img src="https://img.icons8.com/bubbles/100/000000/twitter.png"
            /></a>
          </div>
          <div class="social-item">
            <a href="#"
              ><img src="https://img.icons8.com/bubbles/100/000000/behance.png"
            /></a>
          </div>
        </div>
        <p>Copyright © CareForYou. All rights reserved</p>
      </div>
    </section>
    <!-- End Footer -->
    <!--===============================================================================================-->
    <script src="Contact/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="Contact/vendor/bootstrap/js/popper.js"></script>
    <script src="Contact/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="Contact/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="Contact/vendor/tilt/tilt.jquery.min.js"></script>
    <script>
      $(".js-tilt").tilt({
        scale: 1.1,
      });
    </script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    //
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"
    ></script>
    //
    <script>
      //   window.dataLayer = window.dataLayer || [];
      //   function gtag(){dataLayer.push(arguments);}
      //   gtag('js', new Date());

      //   gtag('config', 'UA-23581568-13');
      //
    </script>

    <!--===============================================================================================-->
    <!--===============================================================================================-->
    <script src="LoginSignUp/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="LoginSignUp/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="LoginSignUp/vendor/bootstrap/js/popper.js"></script>
    <script src="LoginSignUp/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="LoginSignUp/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="LoginSignUp/vendor/daterangepicker/moment.min.js"></script>
    <script src="LoginSignUp/vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="LoginSignUp/vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
    <script src="LoginSignUp/js/main.js"></script>

    <script src="Contact/js/main.js"></script>
    <script src="CareForYou/app.js"></script>
  </body>
</html>
