<!DOCTYPE html>
<html lang="en">
<head>
	<title>Sign Up</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="LoginSignUp/images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="LoginSignUp/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="LoginSignUp/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="LoginSignUp/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="LoginSignUp/fonts/iconic/css/material-design-iconic-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="LoginSignUp/vendor/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="LoginSignUp/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="LoginSignUp/vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="LoginSignUp/vendor/select2/select2.min.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="LoginSignUp/vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="LoginSignUp/css/util.css">
	<link rel="stylesheet" type="text/css" href="LoginSignUp/css/main.css">
<!--===============================================================================================-->
<style>
	.button {
	  border-radius: 50px;
	  background-color: crimson ;
	  border: none;
	  color: #FFFFFF;
	  text-align: center;
	  font-size: 21px;
	  padding: 7px;
	  width: 200px;
	  transition: all 0.5s;
	  cursor: pointer;
	  margin: 5px;
	}
	
	.button span {
	  cursor: pointer;
	  display: inline-block;
	  position: relative;
	  transition: 0.5s;
	}
	
	.button span:after {
	  content: '\00bb';
	  position: absolute;
	  opacity: 0;
	  top: 0;
	  right: -20px;
	  transition: 0.5s;
	}
	
	.button:hover span {
	  padding-right: 25px;
	}
	
	.button:hover span:after {
	  opacity: 1;
	  right: 0;
	}
	
	.but{
		float: left;
		padding: 20px;
	}
	</style>
</head>
<body style="background-color: #999999;">
	
	<div class="limiter">
		<div class="container-login100">
			<div class="login100-more" style="background-image: url('LoginSignUp/images/bg-01.jpg');"></div>

			<div class="wrap-login100 p-l-50 p-r-50 p-t-72 p-b-50">
				<form class="login100-form validate-form">
					<span class="login100-form-title p-b-59">
						Sign Up
					</span>

					<div class="wrap-input100 validate-input" data-validate="Name is required">
						<span class="label-input100">Full Name</span>
						<input class="input100" type="text" name="name" required id="name" placeholder="Name...">
						<span class="focus-input100"></span>
					</div>

					<div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
						<span class="label-input100">Email</span>
						<input class="input100" type="text" name="email" required id="email" placeholder="Email addess...">
						<span class="focus-input100"></span>
					</div>

					<div class="wrap-input100 validate-input" data-validate = "Valid Phone Number is required">
						<span class="label-input100">Phone Number</span>
						<input maxlength="10" minlength="10" class="input100" required id="number" type="number" name="number" placeholder="Phone Number...">
						<span class="focus-input100"></span>
					</div>

					<div class="wrap-input100 validate-input" data-validate="Username is required">
						<span class="label-input100">Username</span>
						<input class="input100" type="text" name="username" required id="username" placeholder="Username...">
						<span class="focus-input100"></span>
					</div>

					<div class="wrap-input100 validate-input" data-validate = "Password is required">
						<span class="label-input100">Password</span>
						<input class="input100 pass" minlength="8" type="password" required id="pass" name="pass" placeholder="Password...">
						<span class="focus-input100"></span>
					</div>

					<div class="wrap-input100 validate-input" data-validate = "Confirm Password is required">
						<span class="label-input100">Repeat Password</span>
						<input class="input100 cpass" minlength="8" type="password" required name="cpass" id="cpass" placeholder="Confirm Password...">
						<span class="focus-input100"></span>
					</div>

					<div class="flex-m w-full p-b-33">
						<div class="contact100-form-checkbox">
							<input class="input-checkbox100" id="ckb1" type="checkbox" required name="remember-me">
							<label class="label-checkbox100" for="ckb1">
								<span class="txt1">
									I agree to the
									<a href="#" class="txt2 hov1">
										Terms of User
									</a>
								</span>
							</label>
						</div>

						
					</div>

					<div class="container-login100-form-btn">
						<div class="wrap-login100-form-btn">
							
							<button class="button" type="submit">
								Sign Up
							</button>
						</div>

						<a href="/signin" class="dis-block txt3 hov1 p-r-30 p-t-10 p-b-10 p-l-30">
							Sign in
							<i class="fa fa-long-arrow-right m-l-5"></i>

						
					</div>
			<!-- <div class="but">	<a href="index.html" target="_blank">		<button class="button"><span>Home </span></button> </a> </span>
			</div> -->
			<div class="container-login100-form-btn">
				<div class="wrap-login100-form-btn">
					
					<!-- <button class="button"> -->
						<a href="/" class="dis-block txt3 hov1 p-r-30 p-t-10 p-b-10 p-l-30">
							BACK TO HOME
							<i class="fa fa-long-arrow-right m-l-5"></i>
					<!-- </button> -->
				</div>	
				</form>
			</div>
		</div>
	</div>

	
	
<!--===============================================================================================-->
	<script src="LoginSignUp/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="LoginSignUp/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="LoginSignUp/vendor/bootstrap/js/popper.js"></script>
	<script src="LoginSignUp/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="LoginSignUp/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="LoginSignUp/vendor/daterangepicker/moment.min.js"></script>
	<script src="LoginSignUp/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="LoginSignUp/vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
	<script>
		const form = document.querySelector('.login100-form');
		form.addEventListener('submit',registerUser);

		async function registerUser(event){
			event.preventDefault();
			const name = document.getElementById('name').value;
			const email = document.getElementById('email').value;
			const phone = document.getElementById('number').value;
			const username = document.getElementById('username').value;
			const pass = document.getElementById('pass').value;
			const cpass = document.getElementById('cpass').value;

			const result = await fetch("/signup",{
				method : 'POST',
				headers :{
					"Content-Type":"application/json"
				},
				body :JSON.stringify({
					name:name,
					email:email,
					phone:phone,
					username:username,
					pass:pass,
					cpass:cpass
				})
			}).then(res => res.json());

			if(result.status === "ok"){
				alert("Success");
				// form.reset();
				localStorage.setItem('token',result.data);
				window.location.href = "signin.html";
			}
			else{
				alert(result.error);
			}
			
		}

	</script>
	<script src="LoginSignUp/js/main.js"></script>

	

</body>
</html>