body{
  /* background: url(img/Calm\ Darya.jpg); */
  background: linear-gradient(to bottom left, #669999 0%, #ff6666 100%);
}
h2{
  font-family: 'Lobster', cursive;
  color: white;
}
 /*--Services--*/
   .service {
      text-align: center;
      padding: 70px 20px 80px 20px;
      transition: all ease-in-out 0.3s;
      /* background: url(img/Colors\ Of\ Sky.jpg); */
      background-color: #f5f5f5;
      box-shadow: 0px 5px 90px 0px rgba(3, 117, 111, 0.63);
      border-radius: 22px 22px 22px 22px;
      -moz-border-radius: 22px 22px 22px 22px;
      -webkit-border-radius: 22px 22px 22px 22px;
      border: 0px solid #000000;
      background: linear-gradient(to bottom left, #ffffff 0%, #ff0000 100%);
    }
    
   .service .icon {
      margin: 0 auto;
      width: 64px;
      height: 64px;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: ease-in-out 0.3s;
      position: relative;
      background: #f5f5f5;
      border-radius: 50px;
    }
    
     .service .icon i {
      font-size: 32px;
      transition: 0.5s;
      line-height: 1;
      position: relative;
    }
    
     .service h4 {
      font-weight: 600;
      margin: 10px 0 15px 0;
      font-size: 22px;
    }
    
     .service h4 a {
      color:black;
      transition: ease-in-out 0.3s;
    }
    
     .service p {
      line-height: 24px;
      font-size: 14px;
      margin-bottom: 0;
    }
    
      .services i{
      color:gray;
    }
   
