body{
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: rgb(212, 206, 206);
   }
   a{
    text-decoration: none;
    background-color: transparent;
    color:#faf9f9;
   }
   .header{
    /* background-color: #141285; */
    /* background-color: #447eb9; */
    /* background-color: black; */
    background-color: rgb(27, 23, 23);
    color:#fff;
    border-color: #080808;
    min-height: 50px;
    border: 1px solid transparent;
   }
   .inner-header{
    width:80%;
    margin:auto;
    color: rgb(245, 234, 234);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.logo{
    /* float: left; */
    text-align: center;
    height: 50px;
    padding: 15px;
    font-size: 30px;
    font-weight: bold;
   }
   .header-link{
    float:right;
    font-size:14px;
    height: 50px;
    padding: 15px 15px;
    font-size:16px;
    font-weight: bold;
  
   }
   .content{
    min-height: 600px;
   }
   .banner-image{
    padding-bottom: 50px;
    margin-bottom: 20px;
    text-align: center;
    color: #f8f8f8;
    background: url("./img/img-14.jpg") no-repeat center;
    /* background: url(doc.jpg) no-repeat center; */
    background-size: cover;
   }
   .inner-banner-image{
    padding-top: 12%;
    width:80%;
    margin:auto;
   }
   .banner_content{
    position: relative;
    padding-top: 4%;
    padding-bottom: 4%;
    overflow:hidden;
    margin-bottom: 10%;
    background-color: rgba(0, 0, 0, 0.7);
    max-width: 660px;
    /* padding-left: 40px; */
    /* margin-left: 25%; */
    margin: auto;
   
   }
   .button{
    color: #fff;
    /* background-color: #c9302c; */
    background-color: crimson;
    /* border-color: #ac2925; */
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    padding: 10px 16px;
    font-size: 18px;
    border-radius: 6px;
   }
   .container{
    width:90%;
    margin:auto;
    overflow:hidden;
   }
   .items{
    width:30%;
    display: block;
    padding: 4px;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    float:left;
    margin-left:1%;
   }
   .thumbnail{
    display: block;
    max-width: 100%;
    height: auto;
    
   }
   .caption{
    color:#000;
    padding:0px 10px 10px;
    font-weight: bold;
    text-align: center;
   }
   footer{
    /* background-color: #000; */
    background-color: #161818;
    color:#fff;
    font-size:14px;
   }
   p{
       text-align: center;
   }
  